/scarlet-pers-api/.classpath
/scarlet-pers-api/.gitignore
/scarlet-pers-api/.project
/scarlet-pers-mongo/.classpath
/scarlet-pers-mongo/.factorypath
/scarlet-pers-mongo/.gitignore
/scarlet-pers-mongo/.project
/scarlet-rest-services/.classpath
/scarlet-rest-services/.gitignore
/scarlet-rest-services/.project
/scarlet-pers-mongo/.springBeans
/scarlet-pers-api/.settings/org.eclipse.core.resources.prefs
/scarlet-pers-api/.settings/org.eclipse.jdt.core.prefs
/scarlet-pers-api/.settings/org.eclipse.m2e.core.prefs
/scarlet-pers-api/.settings/org.eclipse.wst.common.project.facet.core.xml
/scarlet-pers-mongo/.settings/org.eclipse.core.resources.prefs
/scarlet-pers-mongo/.settings/org.eclipse.jdt.apt.core.prefs
/scarlet-pers-mongo/.settings/org.eclipse.jdt.core.prefs
/scarlet-pers-mongo/.settings/org.eclipse.m2e.core.prefs
/scarlet-pers-mongo/.settings/org.eclipse.wst.common.project.facet.core.xml
/scarlet-rest-services/.settings/org.eclipse.core.resources.prefs
/scarlet-rest-services/.settings/org.eclipse.jdt.core.prefs
/scarlet-rest-services/.settings/org.eclipse.m2e.core.prefs
/scarlet-rest-services/.settings/org.eclipse.wst.common.project.facet.core.xml
/scarlet-rest-services/.springBeans
